In [1]:
import pandas as pd
import numpy as np
org_crop=pd.read_csv('F:\\AICUP\\upload_private\\org_crop_800.csv')
org=pd.read_csv('F:\\AICUP\\upload_private\\org_800.csv')
crop=pd.read_csv('F:\\AICUP\\upload_private\\crop_800.csv')

In [2]:
df=org_crop
df.rename(columns={'label':'org_crop'},inplace=True)
df['org']=org['label']
df['crop']=crop['label']
df

,filename,org_crop,org,crop
0,0000f284-d8fa-4f88-b1f2-ef7769e285d5.jpg,grape,grape,passionfruit
1,0006ecdf-82ed-46b8-86b1-f4e94ae83508.jpg,litchi,litchi,litchi
2,0008b7aa-9004-40e4-898c-6e7d329866db.jpg,asparagus,asparagus,asparagus
3,000a4a97-a490-4830-872c-feb8cfc7ce24.jpg,custardapple,custardapple,custardapple
4,000e2db5-2ae5-4f50-84ca-2f41669f5c12.jpg,tea,tea,tea
...,...,...,...,...
11155,ffd48f3d-6fa9-454c-841b-dfe1fb64cfbf.jpg,taro,taro,taro
11156,fff3e02f-c4c8-46c2-89d3-9727bbb84ad4.jpg,greenonion,greenonion,greenonion
11157,fff6e62b-efed-4ffd-aae5-1c86ce4da003.jpg,lettuce,lettuce,lettuce
11158,fffa9b43-3082-4e3e-91cf-2d135da1e71d.jpg,loofah,sweetpotato,loofah
11159,fffcfec5-d7a2-4a53-8aab-e16557a494a7.jpg,broccoli,broccoli,broccoli

In [3]:
def unique(list1):
    x = np.array(list1)
    return x

In [4]:
result=list()
for i in range(len(df)):
    answer_list=list()
    ans_org_crop=df['org_crop'][i]
    answer_list.append(ans_org_crop)
    ans_org=df['org'][i]
    answer_list.append(ans_org)
    ans_crop=df['crop'][i]
    answer_list.append(ans_crop)
    predictions=max(answer_list,key=answer_list.count)
    result.append(predictions)

In [5]:
df['vote']=result
df

,filename,org_crop,org,crop,vote
0,0000f284-d8fa-4f88-b1f2-ef7769e285d5.jpg,grape,grape,passionfruit,grape
1,0006ecdf-82ed-46b8-86b1-f4e94ae83508.jpg,litchi,litchi,litchi,litchi
2,0008b7aa-9004-40e4-898c-6e7d329866db.jpg,asparagus,asparagus,asparagus,asparagus
3,000a4a97-a490-4830-872c-feb8cfc7ce24.jpg,custardapple,custardapple,custardapple,custardapple
4,000e2db5-2ae5-4f50-84ca-2f41669f5c12.jpg,tea,tea,tea,tea
...,...,...,...,...,...
11155,ffd48f3d-6fa9-454c-841b-dfe1fb64cfbf.jpg,taro,taro,taro,taro
11156,fff3e02f-c4c8-46c2-89d3-9727bbb84ad4.jpg,greenonion,greenonion,greenonion,greenonion
11157,fff6e62b-efed-4ffd-aae5-1c86ce4da003.jpg,lettuce,lettuce,lettuce,lettuce
11158,fffa9b43-3082-4e3e-91cf-2d135da1e71d.jpg,loofah,sweetpotato,loofah,loofah
11159,fffcfec5-d7a2-4a53-8aab-e16557a494a7.jpg,broccoli,broccoli,broccoli,broccoli

In [6]:
submit=pd.DataFrame(df['filename'])
submit['label']=df['vote']
submit

                                       filename         label
0      0000f284-d8fa-4f88-b1f2-ef7769e285d5.jpg         grape
1      0006ecdf-82ed-46b8-86b1-f4e94ae83508.jpg        litchi
2      0008b7aa-9004-40e4-898c-6e7d329866db.jpg     asparagus
3      000a4a97-a490-4830-872c-feb8cfc7ce24.jpg  custardapple
4      000e2db5-2ae5-4f50-84ca-2f41669f5c12.jpg           tea
...                                         ...           ...
11155  ffd48f3d-6fa9-454c-841b-dfe1fb64cfbf.jpg          taro
11156  fff3e02f-c4c8-46c2-89d3-9727bbb84ad4.jpg    greenonion
11157  fff6e62b-efed-4ffd-aae5-1c86ce4da003.jpg       lettuce
11158  fffa9b43-3082-4e3e-91cf-2d135da1e71d.jpg        loofah
11159  fffcfec5-d7a2-4a53-8aab-e16557a494a7.jpg      broccoli

[11160 rows x 2 columns]

In [8]:
submit.to_csv('F:\\AICUP\\upload_private\\vote_private.csv',index=False)# index=FalseåŽ»æŽ‰ç´¢å¼•